<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="faviconal.png" rel="icon" type="image/x-icon" />
    <title>Khitanan Al Zaidan</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&family=Poppins&display=swap" rel="stylesheet">
    <style>
        body{background-color: #d9e2e7; 
        margin: 1rem 0;
    z-index:999;}
        .fd {
            font-family: 'Dancing Script', cursive;
        }
        .fp {
            font-family: 'Poppins', sans-serif;
        }
        .c1 {
            color: #0a2b4e;
        }
        .c2 {
            color: #a71814;
        }
        .c3 {
            background-color: #a71814;
        }
        .c4 {
            color: #d9e2e7;
        }
        header h1 {
  
  
            font-size: 40px;
        }
        section .ayat {
         
            font-size: 16px;
            
        }
        section h3{
         
            font-size: 18px;

}

section h2 {
    font-size:50px;
}
audio{
    position: absolute;
   z-index:-1;
   left: -1000px;
}
.salam {
    font-size:24px;
}
.bg-man {
    background-image: image('spider-man.png');
}
    </style>

</head>
<body>
    <audio controls id="audio" autoplay>
        <source src="biw.mp3" type="audio/mpeg">
        </audio>
    <header class="py-5 d-flex flex-column justify-content-center align-content-center">
        <h1 class="mx-auto mb-4 fd c2">Walimatul Khitan</h1>
        <p class="text-center mb-4 fp ">Dengan Rahmat Allah yang Maha Kuasa Insha Allah kami akan melangsungkan Syukuran Khitan</p>
        <img class="mx-auto" src="spiderman.png" style="width: 250px;" alt="">
        <h1 class="mx-auto my-4 fd c2">Al Zaidan Faeyza</h1>
        <h5 class="mx-auto mb-4 fs-6 fp">Minggu, 14 Mei 2023</h5>
    </header>
    <section class="c3">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#d9e2e7" fill-opacity="1" d="M0,96L48,106.7C96,117,192,139,288,133.3C384,128,480,96,576,96C672,96,768,128,864,117.3C960,107,1056,53,1152,42.7C1248,32,1344,64,1392,80L1440,96L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path></svg>    </section>
    <section class="c3 p-5">
        <p class="ayat text-center c4 fp">“Fitrah itu ada lima: berkhitan, mencukur bulu kemaluan, memotong kumis, memotong kuku dan mencabut bulu ketiak.”
        </p><p class="ayat text-center c4 fp fw-bold">(HR al-Bukhari dan Muslim)</p>
    </section>
    <section class="c3">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#d9e2e7" fill-opacity="1" d="M0,32L48,64C96,96,192,160,288,192C384,224,480,224,576,213.3C672,203,768,181,864,165.3C960,149,1056,139,1152,133.3C1248,128,1344,128,1392,128L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
    </section>
    <section class="py-5 px-3 d-flex flex-column justify-content-center align-content-center">
        <h3 class="text-center fp ">Bismillahirrohmanirrohim</h3>
        <h3 class="salam text-center c2 fd my-3 fw-bold">Assalamualaikum Warahmatullahi Wabaraktuh</h3>
        <h3 class="text-center fp">Dengan Memohon Rahmat Dan Ridho Dari Allah SWT. Kami Mengundang Bapak/Ibu/Saudara/i untuk hadir pada acara khitanan anak kami</h3>
        <img class="mx-auto" src="spiderman.png" style="width: 250px;" alt="">
        <h1 class="mx-auto mt-4 fd c2">Al Zaidan Faeyza</h1>
    </section>
    <section class=" pb-3 px-3 d-flex flex-column justify-content-center align-content-center">
        <h3 class="fp text-center mb-4">Insya Allah Acara Akan Dilaksanakan Pada :</h3>
        <h5 class="fp text-center mb-3">Minggu, 14 Mei 2023</h5>
        <h5 class="fp text-center">09.00 WIB - Selesai</h5>
        <h5 class="fp text-center">Jl. Pahala II Gg. Annur Karang Tengah  Tangerang</h5>
        <div class="mx-auto mt-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d495.7982581465369!2d106.70962807821262!3d-6.2127073244057245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f9f08a7cdb29%3A0xd841b555d0539d7c!2sJl.%20Pahala%20II%2C%20Karang%20Tengah%2C%20Kec.%20Karang%20Tengah%2C%20Kota%20Tangerang%2C%20Banten%2015157!5e0!3m2!1sid!2sid!4v1683195178554!5m2!1sid!2sid" width="250" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>        </div>    
    </section>
    <section class="c3">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#d9e2e7" fill-opacity="1" d="M0,96L48,106.7C96,117,192,139,288,133.3C384,128,480,96,576,96C672,96,768,128,864,117.3C960,107,1056,53,1152,42.7C1248,32,1344,64,1392,80L1440,96L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path></svg>    </section>
<section class="c3 d-flex flex-column justify-content-center align-content-center px-3">
    <h5 class="text-center mb-4 fs-6 c4 fp">Tiada Yang Dapat Kami Ungkapkan Selain Rasa Terimakasih Dari Hati Yang Tulus Apabila Bapak/ Ibu/ Saudara/i Berkenan Hadir Untuk Memberikan Do’a Kepada Anak Kami</h5>
    <img class="mx-auto" src="spiderman.png" style="width: 250px;" alt="">
    <h1 class="mx-auto mt-4 fd c1">Al Zaidan Faeyza</h1>
    <h5 class="fp text-center mb-3 c4">Minggu, 14 Mei 2023</h5>
</section>
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body  d-flex flex-column justify-content-center align-content-center">
      
        <button type="button" class="btn btn-info" data-bs-dismiss="modal">Buka Undangan</button>
        </div>
      </div>
    </div>
  </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.4.slim.min.js" integrity="sha256-a2yjHM4jnF9f54xUQakjZGaqYs/V1CYvWpoqZzC2/Bw=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script>
//      var audio = document.getElementById('audio');
//      var modal = document.getElementById('myModal');
//      window.addEventListener('DOMContentLoaded', function() {
//         $(modal).modal('show');
//     });
//     modal.addEventListener('hide.bs.modal', function () {
//     audio.play();
//   });

      </script>
</html>