.bg-home {
    background-color: #f7f8ff;
}

#products {
    height: 600px;
    overflow: hidden;
}
#products:hover {
    height: 600px;
    overflow-y: scroll;
    transform: translateX( 5px  );
}

::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--bs-primary); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--bs-primary); 
  }